
h1 {
    font-size:30px;
    color: aliceblue;

}
a {color: #E9FF33;
  text-decoration: none;}


h2 {
    font-size:  25px;
    
    
  }
  
  h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    
  }
  h4 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    color:#E9FF33;
  }
  
 
  
  body {
    background-color: #111;
  }
  
  .container {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .container .aside {
    width: 30%;
    background-color: #202026;
    font-family: Montserrat;
    color:#E9FF33;
  }.container .aside .education {
    margin-left: 50px;
    margin-bottom: 40px;
  }
  
  .container .aside .education__place {
    font-weight: 600;
    font-size: 20px;
  }  
  .container .aside .skillset { margin-left: 50px;
    margin-bottom: 40px;}

    .container .aside .languages { margin-left: 30px;}
    .container .aside .language {margin-left:50px;}
    .contacts { margin-left: 44px;}
    .image_contacts {
        list-style: none;
        padding: 0;
        color: #fecb00;
        line-height: 35px;}
        .image_contacts li {
          padding-left: 40px;
          background-repeat: no-repeat;
          background-size: 30px;
          background-position: left center;
        }
        .image_phone {background-image: url(https://i.ibb.co/M2MgTcz/png-clipart-computer-icons-telephone-iphone-medical-tourism-blue-trademark.png);
          font-weight: 600;
          font-size: 20px }
        .image_tel {background-image: url(https://i.ibb.co/xDkZrsf/x-NBp-E.png); font-weight: 600;
          font-size: 20px}
        
          .image_vk { background-image: url(https://i.ibb.co/9nwbKgn/images.png);font-weight: 600;
          font-size: 20px}
        .main {
        width: 70%;
        font-family: Montserrat;
        color:	#000000;
        padding-top: 70px;
        background-color: #fff;
      }
      .header {
         
        width: 85.6;
        height: 100px;
        background-color: #fecb00;
        padding: 65px 50px;
        margin-bottom: 20px;
      }
      .main .header .prof {
        font-size: 50px;
        font-weight: 600;
      }
      
      .main .header .name {
        font-size: 50px;
        font-weight: 600;
      }
      .main-wrapper {
        padding: 10px;
      }
     .main .about {padding: 0px 60px;}
     .information {
      border: 4px solid; 
      padding: 7px;
      border-color: black;
      color: black}
       .dlyaul{ font-size: 20px;
        font-weight: 400;
        font-style: italic;
      }
      .photo {float: right; margin: 5px 5px 5px 5px}
      